.Contenedor-admin-global
  width 100%
  position relative
  &-int
    max-width 1240px
    padding 30px 20px 20px 20px
    margin 0px auto
.Titulh4
  font-size 26px
.Btn-flotante-crear
  float right
.Logo-admin
  padding 0px 10px !important
  font-size 18px !important
.Conten-completo
  width 100%
  display flex
.Conten-uno
  width 100%
  padding-right 10px
  &:last-child
    padding-right 0px
.Margin-top
  margin-top 26px
.Conten-dos
  width 50%
  padding-right 10px
  &:last-child
    padding-right 0px
.Conten-tres
  width 33%
  padding-right 10px
  &:last-child
    padding-right 0px
.Conten-cuatro
  width 25%
  padding-right 10px
  &:last-child
    padding-right 0px
.Conten-login
  width 100%
  position relative
  display table
  height 100vh
  background-color #f9f9f9
  &-int
    display table-cell
    vertical-align middle
    height 100%
    text-align center

.Formulario-login
  width 380px
  background-color #fff
  padding 20px 40px
  margin 0px auto
  border-radius 10px
  border 1px solid #ddd
  img
    width 220px
  h2
    font-size 28px
    margin 5px 0px
    padding-bottom 20px
.Conten-form
  display block
  margin-top 20px
  margin-bottom 20px