.Top
  width 100%
  background-color #fff
  height 80px
  position fixed
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  z-index 500
  &-int
    max-width 1240px
    margin 0px auto
    display flex
    &-izq, &-der
      width 50%
    &-der
      text-align right 
      padding 14px 0px
    &-izq      
      padding 14px 10px
.Top-logo
  width 200px
  img
    width 100%
.Top-menu
  width auto
  padding 15px 0px
  nav
    position relative
    ul
      padding 0px
      margin 0px
      li
        margin 0px
        padding 0px
        list-style none
        display inline-block
        a
          font-family Roboto-Bold
          color #007f30
          font-size 18px
          padding 20px 10px
          transition .3s
          &:hover
            color #ff9e30
.Btn-verde
  background-color #008032
  color #fff
  font-family Poppins-Bold
  font-size 14px
  border none
  border-radius 5px
  padding 15px 20px
  cursor pointer
.Conten-mapa
  width 100%
#map
  width 100%
  height 300px
.Conten-bottom
  width 100%
  text-align center
  background-color #008032
  padding 20px
  p
    font-size 12px
    color #01ea5c
    a
      color #01ea5c
.Conten-acerca
  width 100%
  position relative
  &-int
    width 100%
    height 100vh
    display flex    
    // overflow auto    
    &-sec     
      width 50%      
      
      
.Acerca-context
  display table
  position relative
  height 100vh
  p
    text-align justify
.Acerca-contenido
  display table-cell
  vertical-align middle
  padding 60px
  p
    line-height 22px
    font-family Poppins-Regular
    font-size 14px
  ul li
    line-height 22px
    font-family Poppins-Regular
    font-size 14px


.Acerca-bag-img
  background-image url('../../dist/assets/images/slide_1.jpeg')
  background-position center center
  background-size cover
  background-repeat no-repeat


  // width 100%

.Contenedor-slide
  width 100%  
  &-int
    width 100%
    background-color #f2f2f2
    height 550px
.Contenedor-global
  background-color #fff
  width 100%
  &-int
    width 1240px
    padding 4em 0px
    margin 0px auto
.Contenedor-servicios
  background-color #f2f2f2
  &-int
    max-width 1240px
    margin 0px auto
    padding 4em 0px
.Conten-bloques-servicios
  width 100%
  padding 40px 0px
  display flex
  &-sec
    width 20%
    background-color #fff
    border-radius 10px
    min-height 200px
    padding 20px
    margin-right 20px
    box-shadow 0 0px 13px 0 #07651f8a
    &:last-child
      margin-right 0px
    &-img
      width 100%
      img
        width 100px
    &-texto
      width 100%
      span
        text-transform uppercase
        font-family Poppins-Bold
        color #666

.Texto-izq
  text-align left
.Texto-centro
  text-align center
.Titulo-h2
  color #007f30
  font-family Poppins-Bold
  font-size 36px
  margin 0px
  padding 0px
.Mayus
  text-transform uppercase
.Text-Naran
  color #ffa037 !important
.Texto-parrafo
  line-height 26px
  font-size 14px
  font-family Poppins-Regular
  color #666
.Text-justificado
  font-family Poppins-Regular
  text-align justify
.Titulo-h2-b
  color #fff
  font-family Poppins-Bold
  font-size 36px
  margin 0px
  padding 0px
.Bg-naranja
  background-color #ff9e30
.Bg-verde
  background-color #008032
.Text-blanco
  color #fff !important
.Conten-proyectos
  width 100%
  background-image url('../../dist/assets/images/palma_bag.jpeg')
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  &-bag
    background-color #007f3061
  &-int
    width 1240px
    margin 0px auto
    padding 4em 0px
.Conten-proyectos-int-contenedores
  width 100%
  display flex
  padding 3em 0px
.Conten-proyectos-seccion
  width 33%
  background-color #fff
  border-radius 10px
  margin-right 30px
  cursor pointer
  &:last-child
    margin-right 0px
  &-superior
    padding 15px
    border-bottom 1px solid #ddd
    min-height 296px
    overflow hidden
  &-imagen
    height 180px
    overflow hidden
    width 100%
    img
      width 100%
  &-inferior
    padding 10px
    a
      font-family Poppins-Bold
      color #666
      padding 10px
      display block
      transition .3s
      &:hover
        transition .3s
        color #008032
.Conten-proyectos-seccion:hover .Conten-proyectos-seccion-inferior > a
  color #008032
.Conten-proyectos-seccion:hover .Conten-proyectos-seccion-superior > span
  color #008032
.Nombre-proyecto-card
  display block
  font-size 24
  text-transform uppercase
  font-family Poppins-Bold
  color #666
  text-align left
  margin 20px 0px 15px 0px
.Proact
  padding 0px !important
.Conten-formulario
  width 600px
  margin 0px auto
  padding 2em 0px
.Forms-borre
  width 100%
  input[type=text], input[type=number], input[type=email], select
    font-family Poppins-Bold
    padding 5px 10px
    border 1px solid #333
    font-size 14px
    height 40px
    width 100%
    transition .3s
    outline none
    &:focus
      border 1px solid #008032
  textarea
    font-family Poppins-Bold
    padding 5px 10px
    border 1px solid #333
    font-size 14px
    height 90px
    width 100%
    transition .3s
    outline none
    &:focus
      border 1px solid #008032
.Menu-oculto
  display none
.Menu-drop
  width 40px
  margin-right 15px
  float right
  img
    width 100%
.Conten-bloque
  width 100%
  display flex  
.Conten1
  padding 8px
  width 100%
.Conten2
  padding 8px
  width 50%
.Slider
  position relative
.Slide-home
  background-image linear-gradient(90deg, rgba(0,128,50,1) 10%, rgba(255,255,255,0) 100%)
  width 100%
  height 550px
  position absolute
  top 0px
  &-int
    width 100%
    height 550px
    display table
    position relative
.Texto-principal-slide
  display table-cell
  height 100%
  vertical-align middle
  text-align left  
.Texto-slide
  display flex
  width 1240px
  margin 0px auto
  &-sec
    padding 20px
    width 50%
.Top-pad
  padding-top 80px
.Texto-h2-slide
  color #fff
  font-size 45px
  margin-top 90px
  margin-bottom 0px
  text-shadow rgb(0 0 0 / 90%) 1px 2px 2px
.Texto-h3-slide
  color #fff
  margin-top 5px
  font-size 30px
  text-shadow rgb(0 0 0 / 90%) 1px 2px 2px
.Info-contacto
  margin 0px
  padding 0px
  li
    list-style none
    text-align left
    padding-left 15px
    line-height 30px
    i
      color #008032
.Modal-pq
  width 100%
  height 100vh
  background #000000b3
  position fixed
  z-index 500
  top 0px
  &-int
    position relative
    width 100%
    height 100%
    z-index 501
    &-conten
      display table
      height 100vh
      width 100%
      position relative
    &-contexto
      display table-cell
      height 100%
      vertical-align middle
  &-contenido
    background-color #fff
    border-radius 3px
    padding 20px 20px
    width 800px
    margin 0px auto
    position relative
  &-cerrar
    padding 5px
    width 800px
    margin 0px auto
    position relative
    overflow auto
    cursor pointer
    z-index 100
    text-align right 
    a
      cursor pointer
      color #fff
      padding 5px
  &-formulario
    position relative
.Modal-oculta
  display none   


@media screen and (max-width: 1024px)
  .Contenedor-global-int
    width 90%
    margin 0px auto
    padding 2em 10px
  .Texto-parrafo
    text-align justify
  .Top-int-der
    background-color #fff
    padding 0px
  .Titulo-h2
    font-size 20px    
  .Top-int
    width 100%
    display block
  .Top-menu
    width 100%
    margin-top -3px
    padding 0px
    border-bottom 1px solid #ddd
    nav ul li
      display block
      text-align center
      a
        border-top 1px solid #ddd
        display block
  
  .Modal-pq-contenido
    width 90%
    padding 0px 20px 20px 20px
    height 90vh
    overflow auto
  .Modal-pq-formulario
    position relative
    height 100vh    
    padding 2em 0px    
  // .Modal-pq-int-conten
  //   padding 0px 20px 20px 20px
  .Modal-pq-cerrar
    width 90%
    display block
    text-align right    
    background-color #fff    
    padding 10px
    border-bottom 1px solid #f9f9f9
    a
      color #000

  .Top
    height 64px
    &-logo
      width 150px
  .Conten1 label
    display block
    margin-bottom 15px
  .Contenedor-slide-int
    height 400px
  .Top-int-izq, .Top-int-der
    width 100%
  .Contenedor-servicios-int
    width 90%
    margin 0px auto
  .Conten-proyectos-seccion
    width 250px
    margin 0px auto
    margin-bottom 20px
    &-imagen
      height 124px
    
    &:last-child
      margin 0px auto
    &-superior
      min-height auto
  .Texto-slide
    width 90%
    display block
    margin 0px auto
  .Texto-slide-sec
    width 100%
  .Texto-h2-slide
    font-size 22px
  .Texto-h3-slide
    font-size 16px
  .Slide-home
    height 380px
    &-int
      height 380px
  .Conten-acerca-int
    display block
    height auto
    &-sec
      width 100%
  .Marg-top
    padding-top 20px
  .Acerca-contenido
    padding 60px 30px
  .Menu-oculto
    position absolute
    right 0px
    top 17px
    display block
    z-index 600
  

  .Conten-bloques-servicios
    display block
    width 90%
    margin 0px auto
    &-sec      
      margin 0px auto
      margin-bottom 20px
      width 250px      
      &:last-child
        margin 0px auto
  .Conten-proyectos-int
    width 90%
    margin 0px auto
    &-contenedores
      display block
  .Conten-formulario
    width 90%
    margin 0px auto
  .Conten-bloque
    display block
  .Conten2
    width 100%
  .Titulo-h2-b
    font-size 20px
  .Menu-completo-oculto
    display none
  .Acerca-context
    height auto
  .Acerca-bag-img
    height 300px




